<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/vue.js"></script>
    <script src="js/index.js"></script>
    <link rel="stylesheet" href="index.css">
    <link rel="apple-touch-icon" sizes="57x57" href="ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="ico/favicon-16x16.png">
    <link rel="manifest" href="ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>NTHU UBIKE</title>
</head>
<body>
    <div id="box">
        <table style="text-align: center; width: 95%; margin: 0 auto;" rules="all">
            <tr>
                <td colspan="3">清華大學</td>
            </tr>
            <tr>
                <td width="50%">空間位置</td>
                <td width="25%">可停放</td>
                <td width="25%">可租借</td>
            </tr>
            <tr v-for="obj in list">
                <td width="50%" v-text="obj[1]"></td>
                <td width="25%" v-text="obj[2]" v-if="obj[2]>3"></td>
                <td width="25%" v-text="obj[2]" style="background-color: rgb(246, 105, 105); color: white;" v-else></td>
                <td width="25%" v-text="obj[2]" v-if="obj[3]>3"></td>
                <td width="25%" v-text="obj[3]" style="background-color: rgb(246, 105, 105); color: white;" v-else></td>
            </tr>
        </table>
    </div>
</body>
</html>